<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width"/>
</head>
<style>
#outlook a {
	padding:0;
}
body{
	width:100% !important;
	min-width: 100%;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	margin:0;
	padding:0;
}
.ExternalClass {
	width:100%;
}
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
	line-height: 100%;
}
#backgroundTable {
	margin:0;
	padding:0;
	width:100% !important;
	line-height: 100% !important;
}
img {
	outline:none;
	text-decoration:none;
	-ms-interpolation-mode: bicubic;
	width: auto;
	max-width: 100%;
	float: left;
	clear: both;
	display: block;
}
</style>
<body>
<%= render partial: 'spree/mailers/base_email_header' %>
<%= yield %>
<%= render partial: 'spree/shared/base_mailer_footer' %>
</body>
</html>