<% if adjustments.sum(&:amount) != 0 %>
	<tr>
		<td class="text-left"><%= type %>: <%= label %></td>
		<td class="text-right"><%= Spree::Money.new(adjustments.sum(&:amount), :currency => @order.currency) %></td>
	</tr>
<% end %>