html {
	font-family: sans-serif;
	background-color: yellow;
}

body.florida {
	font-family: 'Ubuntu', sans-serif;
	margin-top: 2px;
	background-color: #eee;
	#main {
		background-color: rgb(255, 255, 255);
		margin-top: 3px;
		border-right: solid 1px rgb(221, 221, 221);
		border-left: solid 1px rgb(221, 221, 221);
	}
	.container {
		#nav_bar {
			padding-top: 10px;
			border-bottom: solid 2px #f8f8f8;
			/* for min-width of 768px */
			padding-left: 15px;
			padding-right: 15px;
			/* end min-width of 768px */
			.header-top-left {
				float: left;
			}
			.header-top-right {
				float: right;
			}
		}
		#main_nav_bar {
			background-color: #fff;
			#header_banner {
				padding-top: 0;
				padding-bottom: 0;
				margin-left: 0;
				margin-right: 0;
				#MainLogo {
					padding-top: 10px;
					padding-bottom: 5px;
					a {
						img {
							width: 100%;
							height: 100%;
						}
					}
				}
				#MainSearchBox {
					padding-top: 15px;
					padding-bottom: 15px;
					.input-group {
						width: 100%;
						form#searchBox {
							display: inherit;
						}
					}
				}
				#MainPhoneNumber {
					padding-top: 15px;
					padding-bottom: 15px;
					phone {
						height: 34px;
						font-size: x-large;
					}
				}
				.col-md-3 {
					padding-left: 0;
					padding-right: 0;
				}
			}
			#main_nav {
				border-radius: 0;
				border-right: 0;
				border-left: 0;
			}
		}
		#content {
			@media (min-width: 767px) {
				min-height: 380px;
			}
			background-color: #fff;
			margin-bottom: 10px;
			aside {
				@media (min-width: 767px) {
					padding-right: 0;
				}
			}
			#center-panel {
				.page-header {
					margin: 0 0 5px;
				}
			}
		}
		footer {
			background-color: rgb(248, 248, 248);
			border-top: solid 1px rgb(221, 221, 221);
			.footer-spacer {
				height: 10px;
			  left: -1px;
			  position: absolute;
			  right: -1px;
			  z-index: 999;
			  background-color: rgb(238, 238, 238);
			}
			#badges {
				background-color: rgb(255, 255, 255);
				padding: 10px !important;
				border-top: 1px solid rgb(221, 221, 221);
				border-bottom: 1px solid rgb(221, 221, 221);
				margin-top: 10px;
			}
			#address {
				background-color: rgb(255, 255, 255);
				padding: 10px !important;
				border-top: 1px solid rgb(221, 221, 221);
				border-bottom: 1px solid rgb(221, 221, 221);
			}
			.col-md-6 {
				padding-left: 15px !important;
				padding-right: 15px;
			}
			#footer-bottom {
				text-align: justify;
				background-color: rgb(238, 238, 238);
				border-top: solid 1px rgb(221, 221, 221);
				padding-top: 10px;
			}
			.pay_logo {
				margin-top: 10px;
				height: 55px;
			}
		}
	}
}

a#cart {
	@media (max-width: 767px) {
		margin-left: 15px;
	}
}

ul.taxons-list {
	list-style: none;
	display: inline;
}

ul.filter_choices {
	list-style: none;
	display: inline;
}


.panel {
	border-radius: 0;
	padding: 0;
	margin: 5px;
	.panel-heading {
		margin: 0;
	}
}

.thumbnail {
	border-radius: 0;
}

.no-padding-left {
	padding-left: 0 !important;
}
.no-padding-right {
	padding-right: 0 !important;
}
.no-margin-left {
	margin-left: 0 !important;
}
.no-margin-right {
	margin-right: 0 !important;
}
.first {
	margin-left: 0;
}
.product_type_showcase {
	height: 110px;
}
.logos {
	a.logo {
		text-align: center;
		padding: 5px;
	}
	a.logo.col-md-3 {
		img.logo {
			height: 35px;
		}
	}
	a.logo.col-md-4 {
		img.logo {
			height: 50px;
		}
	}
}

.home.col-md-3 {
	padding-left: 0;
	padding-right: 0;
}
.home.col-sm-4 {
	padding-left: 0;
	padding-right: 0;
}

#nav_bar_mobile {
	margin-bottom: 40px;
	padding: 0;
}

@media(max-width: 599px) {
	ul#account_links {
		background-color: #eeeeee;
		margin-top: 0;
		margin-bottom: 0;
	}
}


ul.phone {
	margin: 0;
	li.phone {
		font-size: x-large;
		vertical-align: middle;
		a {
			vertical-align: -webkit-baseline-middle;
		}
	}
}

.shopping_cart.col-md-9, {
	padding-left: 0;
	padding-right: 0;
	.cart-item-description-header {
		font-size: large;
		padding-left: 0;
	}
	.cart-item-quantity {
		width: 80px;
	}
	.cart-item-image {
		h4 {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	.col-md-3, .col-md-4, .col-md-5, .col-md-7, .col-md-8, .col-md-9, .col-sm-6, .col-sm-8{
		padding-left: 0;
		padding-right: 0;
	}
}

.inner{
	.form-group#bfirstname, .form-group#sfirstname {
		padding-left: 0;
		padding-right: 5px;
	}
	.form-group#blastname, .form-group#slastname {
		padding-left: 5px;
		padding-right: 0;
	}
	.form-group#bcity, .form-group#scity {
		padding-left: 0;
		padding-right: 5px;
	}
	.form-group#bstate, .form-group#sstate{
		padding-left: 0;
		padding-right: 0;
	}
	.form-group#bzipcode, .form-group#szipcode {
		padding-left: 5px;
		padding-right: 0;
	}
	
}

.cart-summary {
	margin-top: 10px;
	text-transform: uppercase;
}
tr.cart-subtotal {
	border-top: 2px solid rgb(221, 221, 221);
}
td.text-left {
	padding-left: 0 !important;
}
td.text-right {
	padding-right: 0 !important;
}
tr.cart-total {
/*	td.text-left {*/
		h4 {
			margin-top: 0;
			margin-bottom: 0;
		}
/*	}*/
}
div.well-break {
	border-bottom: 2px solid rgb(211, 211, 211);
	height: 10px;
	margin: 10px 0 15px;
	position: relative;
	.or {
		background: rgb(245, 245, 245);
	  display: block;
	  padding: 0 5px;
	  position: absolute;
	  top: 0;
	  left: 42%;
	  text-transform: uppercase;
	}
}
input.coupon_code {
	max-width: 150px;
	margin-right: 10px;
}

#checkout_form_wrapper {
	margin-top: -5px;
	.address_wrapper {
		padding-right: 0;
	}
	.delivery_wrapper {
		padding-right: 0;
	}
	.payment_wrapper {
		padding-right: 0;
	}
}

.outer {
	margin-left: -5px;
	margin-right: -5px;
}

.category {
	img.product_type_showcase {
		height: 195px;
		z-index: 2;
	}
	.description {
		position: relative;
		z-index: 1;
		margin-top: -60px !important;
		margin-left: -15px;
	  margin-right: -15px;
	  margin-bottom: -15px;
	  border-top-width: 1px;
	  border-top: 10px solid rgb(221, 221, 221); 
	  padding-top: 5px;
	  padding-bottom: 5px;
	  background-color: rgb(245, 245, 245);
	  margin-top: 10px;
	  height: 65px;
		vertical-align: middle;
	}
}

.comodo {
	z-index: 1000;
	bottom: 5px;
	right: 7px;
}

.collapse.sub-menu {
	margin-top: 1px;
}
.panel-heading {
	background-color: rgb(242, 242, 242) !important;
}
.panel {
	li.list-group-item {
		background-color: rgb(252, 252, 252);
	}
	.sub-menu {
		li.list-group-item {
			background-color: rgb(255, 255, 255);
		}
	}
}