<% user = spree_current_user.nil? ? nil : spree_current_user %>
<div class="col-md-6">
	
	<form action="" method="post" >
		
		<div class="form-group">
			<label for="InputName">Your Name</label>
			<input type="text" class="form-control" name="InputName" id="InputName" placeholder="Enter Name" value="<%= user.billing_address.full_name unless !user && !user.billing_address %>" required>
		</div>
		
		<div class="form-group">
			<label for="InputEmail">Your Email</label>
			<input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Enter Email" value="<%= user.email unless !user %>" required  >
		</div>
		
		<div class="form-group">
			<label for="InputMessage">Message</label>
			<textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
		</div>
		
		<div class="form-group">
			<label for="InputReal">What is 4+3? (Simple Spam Checker)</label>
			<input type="text" class="form-control" name="InputReal" id="InputReal" required>
		</div>
		
		<input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
		
	</form>
	
</div>

<hr class="featurette-divider hidden-lg">

<div class="col-md-6">

	<address>
		<h3>Copiers Florida, LLC</h3>
		<p class="lead">
			2957 NW 27th Street<br/>
			Fort Lauderdale, FL 33311<br/>
			<br/>
			<strong>Phone:</strong> 855-436-2877<br/>
			<strong>Fax:</strong> 855-436-3870<br/>
			<strong>Phone Hours:</strong> Monday - Friday <br/>
			8:00am to 7:00pm Eastern Standard Time
		</p>
	</address>
	
</div>