<div class="col-md-6">
	
	<%= render :partial => "spree/shared/new_message_form"%>
	
</div>

<hr class="featurette-divider hidden-lg">

<div class="col-md-6">

	<address>
		<h3>Copiers Florida, LLC</h3>
		<p class="lead">
			2957 NW 27th Street<br/>
			Fort Lauderdale, FL 33311<br/>
			<br/>
			<strong>Phone:</strong> 855-436-2877<br/>
			<strong>Fax:</strong> 855-436-2870<br/>
			<strong>Phone Hours:</strong> Monday - Friday <br/>
			8:00am to 7:00pm Eastern Standard Time
		</p>
	</address>
	
</div>