<div id="breadcrumbs" class="hidden-xs col-sm-12 col-md-12 no-padding-left no-padding-right">
	<div class="breadcrumb">
		<li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
			<a itemprop="url" href="/"><span itemprop="title">Home</span></a>
		</li>
		<li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
			<a itemprop="url" href="<%= @page.slug %>"><span itemprop="title"><%= @page.title %></span></a>
		</li>
	</div>
</div>

<div class="col-md-12">
	<h1><%= @page.title %></h1>
	<%= @page.body.html_safe %>
</div>